$hue: 000;
$width: 800px;
$Wx1:  10px;

$Wx2:  calc(#{$Wx1} * 2);
$Wx3:  calc(#{$Wx1} * 3);
$Wx4:  calc(#{$Wx1} * 4);
$Wx8:  calc(#{$Wx1} * 8);
$Wx12: calc(#{$Wx1} * 12);
$Wx16: calc(#{$Wx1} * 16);
$Wx20: calc(#{$Wx1} * 20);

$-Wx1:  calc(#{$Wx1} * -1);
$-Wx2:  calc(#{$Wx1} * -2);
$-Wx4:  calc(#{$Wx1} * -4);
$-Wx8:  calc(#{$Wx1} * -8);
$-Wx12: calc(#{$Wx1} * -12);
$-Wx16: calc(#{$Wx1} * -16);
$-Wx20: calc(#{$Wx1} * -20);

$font: calc(#{$Wx1} * 1.5);
$fontBig: $Wx2;
$min: calc(#{$Wx1} / 5);
$img: calc(#{$Wx2} + #{$Wx1} / 2 + #{$min} / 2);

/*=============================================================================================================================*/
/*=============================================================================================================================*/

@mixin flexCC{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin bgC{
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bgCC{
  @include bgC;
  background-size: cover;
}

@mixin bgImg{
  @include bgC;
  background-size: $img;
}

@keyframes rotate{
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}

@keyframes hide{
  0%{opacity: 1; transition: 0}
  90%{transition: .25s;}
  100%{opacity: .25;}
}
@keyframes dlt{
  0%{opacity: 1; transition: 0}
  100%{opacity: 0;}
}

/*=============================================================================================================================*/
/*=============================================================================================================================*/
input:checked+label[icon]{
  &[bg*="_c:dark"]{background-color: var(--dark7)}
  &[bg*="_c:op0"]{background-color: #0004}
  &[bg*="_c:opF"]{background-color: #fff4}
  &[bg*="_c:color"]{background-color: var(--colorLight)}
  &[bg*="_c:red"]{background-color: var(--red)}
  &[bg*="_c:green"]{background-color: var(--green)}


  &:hover{
    opacity: .9;
    &:after{opacity: 1}
  }
  opacity: .6;
  &:after{opacity: .5}
  &[bg*="_ch:dark"]:hover{background-color: var(--dark7)}
  &[bg*="_ch:op0"]:hover{background-color: #0004}
  &[bg*="_ch:opF"]:hover{background-color: #fff4}
  &[bg*="_ch:color"]:hover{background-color: var(--colorLight)}
  &[bg*="_ch:red"]:hover{background-color: var(--red)}
  &[bg*="_ch:green"]:hover{background-color: var(--green)}   
}
[icon]{
  width: $Wx4;
  height: $Wx4;
  cursor: pointer;
  position: relative;

  &[bg*="_b:dark"]{background-color: var(--dark7)}
  &[bg*="_b:op0"]{background-color: #0004}
  &[bg*="_b:opF"]{background-color: #fff4}
  &[bg*="_b:color"]{background-color: var(--colorLight)}
  &[bg*="_b:red"]{background-color: var(--red)}
  &[bg*="_b:green"]{background-color: var(--green)}
  
  &[bg*="_h:dark"]:not(:checked):hover{background-color: var(--dark7)}
  &[bg*="_h:op0"]:not(:checked):hover{background-color: #0004}
  &[bg*="_h:opF"]:not(:checked):hover{background-color: #fff4}
  &[bg*="_h:color"]:not(:checked):hover{background-color: var(--colorLight)}
  &[bg*="_h:red"]:not(:checked):hover{background-color: var(--red)}
  &[bg*="_h:green"]:not(:checked):hover{background-color: var(--green)}  
  
  &:hover:after{opacity: .5}
  &:after{
    @include flexCC;
    @include bgImg;
    content: "";
    width: $Wx4;
    height: $Wx4;
    left: calc(50% - #{$Wx2});
    top: calc(50% - #{$Wx2});
    position: absolute;
    opacity: .2;
    font-size: $font;     
    transition: .25s;
    background-image: url(https://image.flaticon.com/icons/svg/64/64299.svg);
  }
  &:before{
    content: attr(name);
    font-weight: normal;
    position: absolute;
    opacity: 0;
    transition: .5s;
    text-align: left;
    white-space: nowrap;
    transform: translateX($Wx4) translateY(calc(#{$min} + #{$Wx1}));
  }
  &[color*="_b:dark"]:before{color: var(--dark7)}
  &[color*="_b:op0"]:before{background-color: #0004}
  &[color*="_b:opF"]:before{background-color: #fff4}
  &[color*="_b:color"]:before{color: var(--colorLight)}
  &[color*="_b:red"]:before{color: var(--red)}
  &[color*="_b:green"]:before{color: var(--green)}
  &:hover:before{
    opacity: 1;
    transform: translateX(calc(#{$Wx4} + #{$Wx1})) translateY(calc(#{$min} + #{$Wx1}));
  } 
}





input:checked+label[view*="button"]{
  background-color: var(--colorLight);
  &:hover{opacity: .9;}
  opacity: .6;
}
[view*="button"]{
  &[for*="Add"]{background-color: var(--dark7)}
  width: $Wx12;
  height: $Wx4;
  cursor: pointer;
  &:hover{
    &:before{opacity: .75}
    &:after{opacity: .5}            
  }
  &:before, &:after{
    width: inherit;
    height: inherit;
    position: absolute;            
  }
  &:after{
    content: attr(name);
    @include flexCC;
    font-size: $font;
    color: #000;
    opacity: .3;
    font-weight: bold;
  }
  &[view*="button_green"]{background-color: var(--green);}
  &[view*="button_red"]{background-color: var(--red);}
  &[view*="button_green"]:hover{background-color: var(--green);}
  &[view*="button_red"]:hover{background-color: var(--red);}
  &:before{
    content: "";
    opacity: 0;
    background-color: var(--colorLight);
  }  
}





input[type="text"]{
  outline: 0;
  border: 0;
  font-size: $font;
  font-weight: bold;
  color: rgba(0, 0, 0, .5);
  padding: 0 $font;
  display: flex;
  align-items: center;  
  height: $Wx4;
  box-shadow: inset calc(#{$Wx1} * 1.5) 0 0 0 var(--dark7),
             inset calc(#{$Wx1} * -1.5) 0 0 0 var(--dark7),
             inset 0 calc(#{$-Wx1} * 1.5 + #{$min} * 3) 0 0 var(--dark7),
             inset 0 calc(#{$-Wx1} * 1.5 + #{$min} * 2) 0 0 var(--colorLight);
  &:focus{color: var(--colorLight);}
  &:hover{color: var(--colorLight);}
}