$width: 800px;
$widthSmall: 40px;
$gap: 10px;
$fontSize: 15px;
$widthImg: calc(#{$widthSmall} - #{$gap} * 1.5);
$top: calc(#{$widthSmall} * 2);

$__Wx1: 10px;
$__Wx2: calc(#{$__Wx1} * 2);
$__Wx4: calc(#{$__Wx1} * 4);
$__Wx8: calc(#{$__Wx1} * 8);
$__Wx12: calc(#{$__Wx1} * 12);

$img: calc(#{$__Wx2} + #{$__Wx1} / 2);
$font: calc(#{$__Wx1} * 1.5);
$min: calc(#{$__Wx1} / 5);

/*=============================================================================================================================*/
/*=============================================================================================================================*/

@mixin flexCC{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin bgC{
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bgCC{
  @include bgC;
  background-size: cover;
}

@mixin bgImg{
  @include bgC;
  background-size: $widthImg;
}

@keyframes rotate{
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}

@keyframes hide{
  0%{opacity: 1; transition: 0}
  75%{transition: .25s;}
  100%{opacity: .25;}
}