$width: 800px;
$widthSmall: 40px;
$gap: 10px;
$fontSize: 15px;
$widthImg: calc(#{$widthSmall} - #{$gap} * 1.5);
$top: calc(#{$widthSmall} * 2);

$Wx1:  10px;
$Wx2:  calc(#{$Wx1} * 2);
$Wx4:  calc(#{$Wx1} * 4);
$Wx8:  calc(#{$Wx1} * 8);
$Wx12: calc(#{$Wx1} * 12);
$Wx16: calc(#{$Wx1} * 16);
$Wx20: calc(#{$Wx1} * 20);

$-Wx1:  calc(#{$Wx1} * -1);
$-Wx2:  calc(#{$Wx1} * -2);
$-Wx4:  calc(#{$Wx1} * -4);
$-Wx8:  calc(#{$Wx1} * -8);
$-Wx12: calc(#{$Wx1} * -12);
$-Wx16: calc(#{$Wx1} * -16);
$-Wx20: calc(#{$Wx1} * -20);

$img: calc(#{$Wx2} + #{$Wx1} / 2);
$font: calc(#{$Wx1} * 1.5);
$fontBig: $Wx2;
$min: calc(#{$Wx1} / 5);

/*=============================================================================================================================*/
/*=============================================================================================================================*/

@mixin flexCC{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin bgC{
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bgCC{
  @include bgC;
  background-size: cover;
}

@mixin bgImg{
  @include bgC;
  background-size: $widthImg;
}

@keyframes rotate{
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}

@keyframes hide{
  0%{opacity: 1; transition: 0}
  75%{transition: .25s;}
  100%{opacity: .25;}
}