@import "mixin.scss";
@import "colors.scss";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}
input[type="radio"], input[type="checkbox"]{display: none;}
input:focus{outline: none;}
::-webkit-scrollbar{width: 4px; height: 4px;}
::-webkit-scrollbar-thumb{width: $min; transition: .1s; background-color: #666}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
loading{
  @include flexCC;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #444;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 100000;
  &:after{
    content: "";
    width: $Wx8;
    height: $Wx8;
    background-image: url(https://cdn.glitch.com/a41c4b59-2d4e-40ef-97c2-2dc9e04a3b9d%2Flogo.ico?v=1579033673410);
    @include bgCC;
    opacity: .6;
  }
}
body{
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: $font;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: $Wx4;
    width: $width;
    position: relative;
    font-size: $fontBig;
    z-index: 2;   
  }
  .help{
    position: absolute;
    max-width: $Wx20;
    background: var(--dark8);
    z-index: 1000;
    padding: calc(#{$Wx1} / 2) calc(#{$Wx1} - #{$min});
    border: $min solid var(--colorLight);
    color: rgba(0, 0, 0, .6);
    font-size: $font;
    font-weight: bold;
    display: none;
    &[position="left"]:after{left: -7px}
    &[position="right"]{
      text-align: right;
      &:after{
        right: -7px;
        transform: rotate(225deg);
      }
    }
    &:after{
      content: "";
      height: $Wx1;
      width: $Wx1;
      background: var(--dark8);
      border: $min solid var(--colorLight);
      position: absolute;
      transform: rotate(45deg);
      top: 7px;
      clip-path: polygon(0 0, 100% 100%, 0 100%);
    }
  }
  .getColor{
    height: calc(#{$Wx1} * 11);
    width: $width;
    position: absolute;
    z-index: 100;
    left: calc(50vw - (#{$width} / 2 + #{$Wx1} * 0.7));
    display: flex;
    padding: calc(#{$Wx1} * 1.25) calc(#{$Wx1} / 2);
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(#{$Wx1} * 5),
      calc(#{$Wx1} * 27) calc(#{$Wx1} * 5),
      calc(#{$Wx1} * 27) 100%,
      calc(#{$Wx1} * 22) 100%,
      calc(#{$Wx1} * 22) calc(#{$Wx1} * 5),
      calc(#{$Wx1} * 23.25) calc(#{$Wx1} * 5),
      calc(#{$Wx1} * 23.25) calc(#{$Wx1} * 7.25),
      calc(#{$Wx1} * 23.25) calc(100% -  #{$Wx1} * 1.25),
      calc(#{$Wx1} * 25.75) calc(100% -  #{$Wx1} * 1.25),
      calc(#{$Wx1} * 25.75) calc(#{$Wx1} * 7.25),
      calc(#{$Wx1} * 23.25) calc(#{$Wx1} * 7.25),
      calc(#{$Wx1} * 23.25) calc(#{$Wx1} * 5),
      0 calc(#{$Wx1} * 5)
    );
    &:before{
      content: "";
      height: calc(#{$Wx1} * 6);
      width: calc(100% - #{$Wx1});
      position: absolute;
      top: calc(#{$Wx1} / 2);
      left: calc(#{$Wx1} / 2);
      z-index: -1;
      background-color: var(--dark5);
      clip-path: polygon(
        0 0,
        100% 0,
        100% $Wx4,
        calc(#{$Wx1} * 26) $Wx4,
        calc(#{$Wx1} * 24) 100%,
        calc(#{$Wx1} * 22) $Wx4,
        0 $Wx4,
      );
    }
    &>div{
      width: calc(#{$Wx1} * 2.5);
      height: calc(#{$Wx1} * 2.5);
      margin-left: calc((#{$Wx4} - #{$Wx1} * 2.5) / 2);
      &:nth-of-type(1){margin-left: calc(#{$Wx1} * 0.875)}
      cursor: pointer;
      &:hover{opacity: .75}
    }
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  main{
    height: 100%;
    width: $width;
    z-index: 5;
    position: static;
    top: $Wx8;
    #awayMove{
      width: $min;
      height: $min;
      position: absolute;
      z-index: 100;
      top: 0px;
      left: 0px;
      cursor: none;
    }  
    ul{
      padding: $Wx4 0; 
      width: 100%;
      height: 100%;
      min-height: calc(100vh - #{$Wx4});
      position: relative;
      list-style: none;
      display: flex;
      flex-direction: column;
      li{
        list-style: none;
        display: flex;
        flex-direction: column;
        position: relative; 
        width: 100%;
        margin-bottom: calc(#{$Wx1} * 6);
        &:last-of-type{margin-bottom: $Wx1}
        &[next]{margin-top: calc(#{$Wx1} * -3)}
        &[old]:not(:hover) h4{filter: grayscale(1);}
        &[old][type="comments"]:not(:hover) h8{filter: grayscale(1); z-index: 1}
        &:not([type="settings"]):not([next]) h4:hover{
          height: $Wx4;
          &>a[target]:not([date])[sN]{display: flex}
        }
        h4{ 
          width: calc(100% - #{$Wx2});
          height: $Wx1;
          margin-left: $Wx1;
          position: absolute;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          transform: translateY(#{$-Wx1});
          z-index: 1;
          background-color: var(--dark5);
          &.old{
            filter: grayscale(1);
            &:hover{filter: grayscale(0);}
          }   
          .deleteLi{
            width: $Wx1;
            height: $Wx1;
            position: absolute;
            right: $-Wx1;
            top: 0;
            cursor: pointer;
            background-color: var(--red);
            clip-path: polygon(0 0, 100% 100%, 0 100%);
            // box-shadow: inset 0 0 0 calc(#{$min} / 2) var(--dark5), 0 0 0 calc(#{$min} / 2) var(--dark5);
          }
          &>a[date]{
            width: $Wx4;
            height: $Wx2;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            top: $-Wx1;
            left: calc(#{$-Wx1} * 5);
            color: var(--red);
            &:not([datetype="online"]){color: var(--dark1);}
            &:after{
              content: attr(date);
              font-size: $font;
              white-space: nowrap;
              position: absolute;
              display: flex;
              align-items: center;
            }
            &:hover:after{
              content: attr(fulldate);
            }
          }
          &>a[target]:not([date]){
            height: inherit;
            position: static;
            left: $Wx1;
            &[fn]{
              color: var(--dark3);
              position: absolute;
              left: 0;
              top: $-Wx1;
              height: $Wx2;
              background-color: var(--dark5);
              padding: 0 $Wx2;
              clip-path: polygon(
                $Wx1 0,
                calc(100% - #{$Wx1}) 0,
                100% $Wx1,
                100% 100%,
                $-Wx1 100%
              );
              &:after{
                content: "";
                width: $Wx1;
                height: $Wx1;
                position: absolute;
                background-color: var(--dark5);
                left: $-Wx1;
                top: $Wx1;
                clip-path: polygon(100% 0, 100% 100%, 0 100%);
              }
            }
            &[sN]{
              color: var(--dark3);
              min-height: calc(#{$Wx1} * 3);
              display: none;
              justify-content: center;
              align-items: center;
              &:after{content: ""}
              &:hover{color: var(--colorMiddle);}
            }
            &[ch]{
              height: $Wx2;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: $Wx2;
              font-weight: 400;
              background-color: var(--dark5);
              padding: 0 $Wx2;
              clip-path: polygon(
                $Wx1 0,
                calc(100% - #{$Wx1}) 0,
                100% $Wx1,
                100% 100%,
                0 100%,
                0 $Wx1
              );
              &:not(:hover){color: var(--colorMiddle);}
            }
          }
        }
        h8{
          width: inherit;
          display: flex;
          flex-direction: column;
          .graphX{
            height: 100%;
            width: calc(#{$width} - #{$Wx2});
            left: $Wx1;
            overflow: hidden;
            position: relative;
            &:after{
              content: "";
              width: inherit;
              height: inherit;
              position: absolute;
              background-color: var(--dark5);
              left: 0;
              top: 0;
              clip-path: polygon(
                0 0,
                100% 0,
                100% 100%,
                0 100%,
                0 1px,
                1px 1px,
                1px calc(100% - 1px),
                calc(100% - 1px) calc(100% - 1px),
                calc(100% - 1px) 1px,
                1px 1px
              );
            }
            canvas{
              height: inherit;
              overflow-y: hidden;
              overflow-x: hidden;
              position: relative;
              cursor: none;
              &.graphAim{
                width: inherit;
                height: 200px;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }  
          .allMaxLine{
            position: absolute;
            height: inherit;
            width: $min;
            left: 0;
            bottom: 0;
            >dot{
              &[hover="1"]{
                width: calc(#{$width} - #{$Wx1} - #{$min} / 2);
                transform: translateX(0);
                opacity: 1;
              }
              width: $Wx1;
              opacity: 1;
              position: absolute;
              height: $min;
              cursor: pointer;
              font-weight: bold;
              &:hover{
                width: calc(#{$width} - #{$Wx1} - #{$min} / 2);
                &:after{opacity: 1}
                &:before{display: flex;}
              }
              &:after, &:before{
                font-size: calc(#{$Wx1} + #{$min});
                top: calc(#{$-Wx1} - #{$min} * 2);
                height: calc(#{$Wx1} + #{$min});
                position: absolute;
              }
              &:after{
                content: attr(alt);
                left: $Wx2;
                text-align: left;
                opacity: 0;
              }
              &:before{
                display: none;
                content: attr(memeName);
                right: $Wx1;
                text-align: right;
              }
            }
          }
          .mainMenu{
            width: calc(#{$Wx1} * 5);
            height: calc(#{$Wx1} * 3);
            position: absolute;
            z-index: 1;
            bottom: 0;
            right: 0;
            background-color: var(--colorLight);
            // clip-path: polygon(
            //   calc(100% - #{$Wx1}) calc(100% - #{$Wx1}),
            //   calc(100% - #{$Wx1}) $Wx1,
            //   100% 0,
            //   100% calc(100% - #{$Wx1}),
            //   calc(100% - #{$Wx1}) 100%,
            //   0 100%,
            //   $Wx1 calc(100% - #{$Wx1})
            // );
            clip-path: polygon(
              calc(100% - #{$Wx1}) calc(100% - #{$Wx1}),
              calc(100% - #{$Wx1}) 0,
              100% $Wx1,
              100% calc(100% - #{$Wx1}),
              calc(100% - #{$Wx1}) 100%,
              $Wx1 100%,
              0 calc(100% - #{$Wx1})
            );
          }
          input[type="range"]{
            -webkit-appearance: none;  
            position: absolute;
            cursor: pointer;
            &[name="rightRange"]{            
              top: calc(#{$Wx8} + #{$Wx1} * 1.5);
              right: calc(#{$-Wx8} - #{$Wx1} * 0.5);
              width: calc(#{$Wx1} * 18);
              transform: rotate(90deg);
              &::-webkit-slider-runnable-track{
                height: $Wx1;
                overflow: hidden;
              }
              &[max="0"]{
                &::-webkit-slider-thumb{width: 100%}
              }
              &::-webkit-slider-thumb{
                height: $Wx1;
                width: $Wx8;
                -webkit-appearance: none;
                cursor: ns-resize;
                clip-path: polygon(
                  0 50%, calc(#{$Wx1} / 2) 0, calc(100% - #{$Wx1} / 2) 0, 
                  100% 50%, calc(100% - #{$Wx1} / 2) 100%, calc(#{$Wx1} / 2) 100%
                );
              }
            }
            &[name="bottomRange"]{
              bottom: $Wx1;
              width: calc(#{$width} - #{$Wx2});
              transform: translateY($Wx1) translateX($Wx1);
              &::-webkit-slider-runnable-track{
                height: $Wx1;
                overflow: hidden;
                transition: .25s;
              }
              &::-webkit-slider-thumb{
                height: $Wx1;
                -webkit-appearance: none;
                cursor: ew-resize;
              }
              &:after, &:before{
                position: absolute;
                transition: .25s;
              }
              &:after{
                content: attr(percent)"%";
                font-size: $font;
                white-space: nowrap;
                font-weight: bold;
                height: $Wx2;
                right: calc(100% + #{$Wx1} + #{$min});
                top: calc(#{$Wx1} - #{$font});
              }
              &:before{
                content: "";
                width: calc(#{$Wx1} * 5);
                height: calc(#{$Wx1} * 3);
                transform: rotate(90deg);
                background-color: var(--dark5);
                right: 100%;
                top: 0;
                transform: scaleX(-1);
                clip-path: polygon(
                  calc(100% - #{$Wx1}) calc(100% - #{$Wx1}),
                  calc(100% - #{$Wx1}) 0,
                  100% $Wx1,
                  100% calc(100% - #{$Wx1}),
                  calc(100% - #{$Wx1}) 100%,
                  $Wx1 100%,
                  0 calc(100% - #{$Wx1})
                );
              }
            }          
          }   
          &[meme][sum]:after{
            content: attr(meme)":["attr(sum)"]";
            color: var(--dark3);
            background-color: var(--dark5);
            font-size: $font;
            z-index: 1;
            white-space: nowrap;
            font-weight: bold;
            height: $Wx2;
            position: absolute;
            right: $Wx1;
            top: $-Wx2;
            display: flex;
            justify-content: flex-end;
            padding: 0 $Wx2;
            clip-path: polygon(
              $Wx1 0,
              calc(100% - #{$Wx1}) 0,
              100% $Wx1,
              100% 100%,
              0 100%,
              0 $Wx1
            );
          }
        }   
        &[type="main"]{
          min-height: $Wx20;
          h8{height: 100%; padding-bottom: $Wx1;}
        }
        &[type="comments"]{
          h8{
            &>div{
              &[dlt]{
                animation: dlt .6s alternate;
                opacity: 0;
                background-color: var(--red);
                filter: hue-rotate(0);
                &>a{font-size: 0;}
              }
              width: calc(#{$width} - #{$Wx2});
              min-height: calc(#{$Wx2} + #{$min} * 2);
              transform: translateX($Wx1);
              display: flex;
              font-size: $font;
              background-color: var(--dark7);
              padding: calc(#{$min} * 1.5) calc(#{$Wx1} / 2);
              margin: calc(#{$min} * 2) 0;
              box-shadow: inset calc(#{$min} * -1) 0 0 0 var(--dark5);
              &:nth-child(1){margin: $min 0 calc(#{$min} * 2) 0;}
              &:before{
                content: "";
                height: calc(100% + #{$min}*4);
                width: 100%;
                position: absolute;
                top: calc(#{$min} * -2);
                left: calc(#{$min} * -2);
                z-index: -1;
              }
              &:hover{
                background-color: var(--colorLight);
                &>a{color: var(--colorDark);}
                div[delete]{display: flex;}
                &>a>a{
                  background-color: var(--dark7);
                  color: var(--colorLight);
                }
              }
              &:nth-child(1):nth-last-child(1) a:after{
                clip-path: polygon(
                  calc((#{$Wx1} - #{$min}) / 2) $min,
                  calc(100% - (#{$Wx1} - #{$min}) / 2) $min,
                  calc(100% - (#{$Wx1} - #{$min}) / 2) calc(50% + #{$min} / 2),
                  0 calc(50% + #{$min} / 2),
                  0 calc(50% - #{$min} / 2),
                  calc((#{$Wx1} - #{$min}) / 2) calc(50% - #{$min} / 2),
                ); 
              }
              &:nth-child(1):not(:nth-last-child(1)) a:after{
                clip-path: polygon(
                    calc((#{$Wx1} - #{$min}) / 2) $min,
                    calc(100% - (#{$Wx1} - #{$min}) / 2) $min,
                    calc(100% - (#{$Wx1} - #{$min}) / 2) 100%,
                    calc((#{$Wx1} - #{$min}) / 2) 100%,
                    calc((#{$Wx1} - #{$min}) / 2) calc(50% - #{$min} / 2),
                    0 calc(50% - #{$min} / 2),
                    0 calc(50% + #{$min} / 2),
                    calc((#{$Wx1} - #{$min}) / 2) calc(50% + #{$min} / 2),
                  ); 
              }
              &:nth-last-child(1) a:after{
                clip-path: polygon(
                  calc((#{$Wx1} - #{$min}) / 2) 0,
                  calc(100% - (#{$Wx1} - #{$min}) / 2) 0,
                  calc(100% - (#{$Wx1} - #{$min}) / 2) calc(50% + #{$min} / 2),
                  0 calc(50% + #{$min} / 2),
                  0 calc(50% - #{$min} / 2),
                  calc((#{$Wx1} - #{$min}) / 2) calc(50% - #{$min} / 2),
                );            
              }
              &>a{
                color: var(--colorMiddle);
                text-align: start; 
                width: calc(100% - #{$Wx1});
                &>a{
                  padding: 0 calc(#{$Wx1} / 2);
                  background-color: var(--colorLight);
                  color: var(--dark5);
                  &:hover{color: var(--dark5)}
                }
                &:after{
                  content: "";
                  width: $Wx1;
                  height: calc(100% + #{$min}*4);
                  position: absolute;
                  right: $-Wx1;
                  top: calc(#{$min} * -2);
                  background-color: var(--dark5);
                  clip-path: polygon(
                    calc((#{$Wx1} - #{$min}) / 2) 0,
                    calc(100% - (#{$Wx1} - #{$min}) / 2) 0,
                    calc(100% - (#{$Wx1} - #{$min}) / 2) 100%,
                    calc((#{$Wx1} - #{$min}) / 2) 100%,
                    calc((#{$Wx1} - #{$min}) / 2) calc(50% - #{$min} / 2),
                    0 calc(50% - #{$min} / 2),
                    0 calc(50% + #{$min} / 2),
                    calc((#{$Wx1} - #{$min}) / 2) calc(50% + #{$min} / 2),
                  );
                }
              } 
              div[delete]{
                width: $Wx1;
                height: $Wx1;
                position: absolute;
                box-shadow: inset 0 0 0 $min var(--dark5);
                background-color: var(--dark5);
                top: calc(50% - #{$Wx1} / 2);
                right: $-Wx1;
                cursor: pointer;
                display: none;
                &:hover{background-color: var(--red);}
              }   
            }
          }      
        }
        &[type="settings"]{
          margin-bottom: $Wx4;
          &[for="cookieRightFilter"], &[content="UTC"]{height: $Wx4}
          &[for="cookieRightFilter"] h8{transform: translateY($Wx1)}
          &[content$="Add"]{h8{&:before{height: 0}}}
          &[content*="same"]{
            h4>div[subtitle]{left: calc(#{$width} - #{$Wx1} * 33); width: calc(#{$Wx1} * 19)}
            h8{
              &>div>a{
                width: calc(#{$width} - #{$Wx1} * 43);
                &[type="screen"]{
                  width: $Wx8;
                  height: $Wx4;
                  margin-left: $Wx1;
                  background-position: center;
                  background-size: contain;
                  background-repeat: no-repeat;
                }
              }
              &>div>input[type="text"]{width: calc(#{$width} - #{$Wx4} * 8.5);}
            }
          }
          &[content="main"]{
            h8{
              &>div[group]{
                &>a{width: calc(#{$Wx1} * 16); margin-left: calc(#{$Wx1} * 5)}
                &>color{
                  width: $Wx4;
                  margin-left: $Wx1;
                  background-color: var(--dark7);
                  @include flexCC;
                  &>div{
                    width: calc(#{$Wx1} * 2.5);
                    height: calc(#{$Wx1} * 2.5);
                    cursor: pointer;
                    &:hover{opacity: .75}
                  }
                }
                &>input[type="text"]{width: calc(#{$Wx1} * 26); margin-left: $Wx1}
                &:after{
                  content: "";
                  width: 100%;
                  height: $Wx1;
                  position: absolute;
                  bottom: $-Wx1;
                }
              }
              &>input[type="checkbox"]{
                &:checked+label+nav{display: none}
                &+label[icon]{
                  transform: translateX($-Wx1) translateY(calc(#{$Wx1} * -5));
                }
              }
            }
          }
          &:not([content$="Add"]):not([content*="same"]):not([content="main"]){
            h8{
              &>div{
                width: calc(50% - #{$Wx1} * 2.5);
                &:nth-of-type(even){
                  transform: translate(calc(100% + #{$Wx4}), calc(#{$Wx1} * -5));
                  height: 0;
                  margin-bottom: 0;
                }
                &>a{
                  width: calc(100% - #{$Wx1} * 13);
                }
                &:before{right: $-Wx1;}
                &:nth-of-type(odd):before{
                  width: $Wx4;
                  height: calc(#{$Wx1} * 6);
                  right: $-Wx4;
                  bottom: $-Wx1;
                  clip-path: polygon(
                    0 calc(50% - #{$min} / 2),
                    100% calc(50% - #{$min} / 2),
                    100% calc(50% + #{$min} / 2),
                    0 calc(50% + #{$min} / 2)
                  );
                }
                &:nth-last-of-type(1):nth-of-type(1):before{
                  height: calc(100% + calc(#{$Wx1} * 11.5) - (#{$Wx1} / 2) + #{$min});
                  width: calc((#{$width} + #{$Wx4}) / 2 + calc(#{$min} / 2));
                  right: calc((#{$width} + #{$Wx4}) / -2 - calc(#{$min} / 2));
                  bottom: $-Wx1;
                  clip-path: polygon(
                    calc(100% - #{$Wx1}) 0, 
                    100% 0, 
                    100% calc((100% - #{$Wx3}) + #{$min} / 2),
                    0 calc((100% - #{$Wx3}) + #{$min} / 2),
                    0 calc((100% - #{$Wx3}) - #{$min} / 2),
                    calc(100% - #{$min}) calc((100% - #{$Wx3}) - #{$min} / 2),
                    calc(100% - #{$min}) $min, 
                    calc(100% - #{$Wx1}) $min
                  );            
                }
                &:nth-of-type(odd):not(:nth-of-type(1)):nth-last-of-type(1):before{
                  width: calc((#{$width} + #{$Wx4}) / 2 + calc(#{$min} / 2));
                  right: calc((#{$width} + #{$Wx4}) / -2 - calc(#{$min} / 2));
                  bottom: $-Wx1;
                  clip-path: polygon(
                    100% 0, 
                    100% calc((100% - #{$Wx3}) + #{$min} / 2),
                    0 calc((100% - #{$Wx3}) + #{$min} / 2),
                    0 calc((100% - #{$Wx3}) - #{$min} / 2),
                    calc(100% - #{$min}) calc((100% - #{$Wx3}) - #{$min} / 2),
                    calc(100% - #{$min}) 0, 
                  ); 
                }
                &:nth-of-type(2):before{
                  height: calc(100% + (#{$Wx1} * 15.5) - (#{$Wx1} / 2) + #{$min});
                  right: calc((#{$-Wx1} - #{$min}) / 2);
                  bottom: calc(#{$Wx1} * -5);
                  clip-path: polygon(
                    0 0, 
                    100% 0, 
                    100% 100%, 
                    calc(100% - #{$min}) 100%, 
                    calc(100% - #{$min}) calc((100% - #{$Wx3}) - #{$min} / 2),
                    calc((#{$Wx1} - #{$min}) / 2) calc((100% - #{$Wx3}) - #{$min} / 2),
                    calc((#{$Wx1} - #{$min}) / 2) calc((100% - #{$Wx3}) + #{$min} / 2),
                    calc(100% - #{$min}) calc((100% - #{$Wx3}) + #{$min} / 2),
                    calc(100% - #{$min}) $min, 
                    0 $min
                  );
                }
                &:nth-of-type(2):nth-last-of-type(1):before,{
                  clip-path: polygon(
                    0 0, 
                    100% 0, 
                    100% calc((100% - #{$Wx3}) + #{$min} / 2), 
                    calc((#{$Wx1} - #{$min}) / 2) calc((100% - #{$Wx3}) + #{$min} / 2), 
                    calc((#{$Wx1} - #{$min}) / 2) calc((100% - #{$Wx3}) - #{$min} / 2), 
                    calc(100% - #{$min}) calc((100% - #{$Wx3}) - #{$min} / 2), 
                    calc(100% - #{$min}) $min, 
                    0 $min
                  );
                }
                &:nth-of-type(even):not(:nth-of-type(2)):before{
                  bottom: calc(#{$Wx1} * -5);
                  height: calc(#{$Wx1} * 6);
                }
              }
            }
          }
          input[type="range"]{
            -webkit-appearance: none;  
            position: absolute;
            cursor: pointer;
            width: calc(100% - #{$Wx1});
            margin-top: $min;
            &::-webkit-slider-runnable-track{
              height: $Wx1;
              overflow: hidden;
              transition: .25s;
            }
            &::-webkit-slider-thumb{
              height: $Wx2;
              width: $Wx12;
              -webkit-appearance: none;
              cursor: ew-resize;
            }
            &:after{
              position: absolute;
              content: attr(deg)"°";
              font-size: $font;
              white-space: nowrap;
              font-weight: bold;
              height: $Wx2;
              right: 0;
              top: $-Wx2;
            }     
            &.UTCRange:after{content: attr(deg)" UTC";}
          }
          input[type="checkbox"]{
            &[id="scrollTopCookie"]+label:after{transform: rotate(-90deg)}
            &[id="scrollTopCookie"]:checked+label:after{transform: rotate(-90deg) scaleY(-1)}
            &+label[icon]{
              margin-left: $Wx1;    
            }
          }
          h4{
            height: $Wx2;
            transform: translateY($-Wx2);
            display: block;
            background-color: #0000;
            color: var(--colorLight);
            &[display="0"]{display: none}
            &>div[subtitle]{
              position: absolute;
              text-align: center;
              left: calc(#{$Wx1} * 27);
              top: 0;
            }
          }
          h8[meme][sum]{
            &:after{
              padding: 0;
              background-color: #0000;
              right: $Wx2;
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              color: var(--dark5);
            }
          }
          .add, .delete, .ignore{
            filter: hue-rotate(0deg);
            margin-left: $Wx1;
            &:hover:before{opacity: .6}
            &:before{opacity: 1}
          }
          h8>div{
            display: flex;
            width: inherit;
            height: $Wx4;
            margin-bottom: $Wx1;
            position: relative;
            &:not([class$="Add"]):before{
              content: "";
              width: $Wx1;
              height: calc(100% + #{$Wx2} + #{$min});
              position: absolute;
              right: 0;
              bottom: calc(#{$-Wx1} - #{$min} / 2);
              background-color: var(--dark3);
              clip-path: polygon(
                calc((#{$Wx1} - #{$min}) / 2) 0,
                calc(100% - (#{$Wx1} - #{$min}) / 2) 0,
                calc(100% - (#{$Wx1} - #{$min}) / 2) 100%,
                calc((#{$Wx1} - #{$min}) / 2) 100%,
                calc((#{$Wx1} - #{$min}) / 2) calc(50% - #{$min} / 2),
                0 calc(50% - #{$min} / 2),
                0 calc(50% + #{$min} / 2),
                calc((#{$Wx1} - #{$min}) / 2) calc(50% + #{$min} / 2),
              );
            }
            &:nth-of-type(1):before{
              height: calc(100% + calc(#{$Wx1} * 11.5) - (#{$Wx1} / 2) + #{$min});
              right: calc((#{$Wx1} - #{$min}) / 2);
              clip-path: polygon(
                0 0, 
                100% 0, 
                100% 100%, 
                calc(100% - #{$min}) 100%, 
                calc(100% - #{$min}) calc((100% - #{$Wx3}) - #{$min} / 2),
                calc((#{$Wx1} - #{$min}) / 2) calc((100% - #{$Wx3}) - #{$min} / 2),
                calc((#{$Wx1} - #{$min}) / 2) calc((100% - #{$Wx3}) + #{$min} / 2),
                calc(100% - #{$min}) calc((100% - #{$Wx3}) + #{$min} / 2),
                calc(100% - #{$min}) $min, 
                0 $min
              );
            }          
            &:nth-last-of-type(1):before{
              clip-path: polygon(
                calc((#{$Wx1} - #{$min}) / 2) 0,
                calc(100% - (#{$Wx1} - #{$min}) / 2) 0,
                calc(100% - (#{$Wx1} - #{$min}) / 2) calc(50% + #{$min} / 2),
                0 calc(50% + #{$min} / 2),
                0 calc(50% - #{$min} / 2),
                calc((#{$Wx1} - #{$min}) / 2) calc(50% - #{$min} / 2),
              );  
            }
            &:nth-last-of-type(1):nth-of-type(1):before{
              height: calc(100% + calc(#{$Wx1} * 11.5) - (#{$Wx1} / 2) + #{$min});
              right: calc((#{$Wx1} - #{$min}) / 2);
              clip-path: polygon(
                0 0, 
                100% 0, 
                100% calc((100% - #{$Wx3}) + #{$min} / 2),
                calc((#{$Wx1} - #{$min}) / 2) calc((100% - #{$Wx3}) + #{$min} / 2),
                calc((#{$Wx1} - #{$min}) / 2) calc((100% - #{$Wx3}) - #{$min} / 2),
                calc(100% - #{$min}) calc((100% - #{$Wx3}) - #{$min} / 2),
                calc(100% - #{$min}) $min, 
                0 $min
              );            
            }  
            &[onkeyup*="Main"], &[onkeyup*="FBI"], &[onkeyup*="Notes"]{width: calc(#{$width} - #{$Wx4} * 3.5);}
            &:hover+nav{
              &:after{
                clip-path: polygon(
                  calc(#{$Wx1} * 5) 0,
                  calc(#{$Wx1} * 5) $min,
                  calc(#{$Wx1} * 13) $min,
                  calc(#{$Wx1} * 13) 100%,
                  100% 100%,
                  100% calc(100% - #{$min}),
                  calc(#{$Wx1} * 13 + #{$min}) calc(100% - #{$min}),
                  calc(#{$Wx1} * 13 + #{$min}) $min,
                  calc(100% - #{$Wx1} / 2) $min,
                  calc(100% - #{$Wx1} / 2) 0
                );
              }
            }
          }
          h8>div, h8>nav>wrap{
            &[new]>a{
              color: var(--green);
              &:after{
                content: "";
                height: inherit;
                width: $Wx4;
                right: 0;
                position: absolute;
                background-color: var(--green);
                clip-path: polygon(0 0, calc(100% - #{$Wx2}) 0, 100% calc(100% - #{$Wx2}), 100% 100%);
              } 
            }
          }  
          input[type="text"], h8 a{
            width: calc(#{$width} - #{$Wx4} * 3.5);
            height: $Wx4;
            display: flex;
            align-items: center;    
            position: relative;
            outline: 0;
            border: 0;
            font-size: $font;
            font-weight: bold;
            color: rgba(0, 0, 0, .5);
            padding: 0 $font;
          }
          h8>nav{
            height: 100%;
            width: calc(100% - #{$Wx1} * 5);
            margin-right: calc(#{$Wx1} * 5);
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            &:hover{
              wrap{
                >a{color: var(--colorLight)}
                >input[type="text"]{color: var(--colorLight)}
              }
              &:after{
                clip-path: polygon(
                  calc(#{$Wx1} * 5) 0,
                  calc(#{$Wx1} * 5) $min,
                  calc(#{$Wx1} * 13) $min,
                  calc(#{$Wx1} * 13) 100%,
                  100% 100%,
                  100% calc(100% - #{$min}),
                  calc(#{$Wx1} * 13 + #{$min}) calc(100% - #{$min}),
                  calc(#{$Wx1} * 13 + #{$min}) $min,
                  calc(100% - #{$Wx1} * 5.5) $min,
                  calc(100% - #{$Wx1} * 5.5) 0
                );
              }
            }
            &:not(:nth-last-of-type(1)):before{
              content: "";
              width: $Wx1;
              height: inherit;
              position: absolute;
              right: calc(#{$Wx1} * -5);
              background-color: var(--dark3);
              clip-path: polygon(
                calc((#{$Wx1} - #{$min}) / 2) 0,
                calc(100% - (#{$Wx1} - #{$min}) / 2) 0,
                calc(100% - (#{$Wx1} - #{$min}) / 2) 100%,
                calc((#{$Wx1} - #{$min}) / 2) 100%,
              );
            }
            &:after{
              content: "";
              width: calc(#{$Wx1} * 26 + #{$Wx1} / 2);
              height: calc(50% + (#{$Wx1} + #{$min}) / 2);
              top: $-Wx1;
              left: 0;
              background-color: var(--colorLight);
              position: absolute;
              clip-path: polygon(
                calc(#{$Wx1} * 13) 0,
                calc(#{$Wx1} * 13) 100%,
                100% 100%,
                100% calc(100% - #{$min}),
                calc(#{$Wx1} * 13 + #{$min}) calc(100% - #{$min}),
                calc(#{$Wx1} * 13 + #{$min}) 0,
              );
            }
            wrap{
              width: calc(100% - #{$Wx1} * 27);
              margin-bottom: $Wx1;
              display: flex;
              justify-content: flex-end;
              position: relative;
              >a{
                width: calc(#{$Wx1} * 26); 
                background-color: var(--dark7);
                color: #0006;
                cursor: default;
              }
              >input[type="text"]{
                width: $Wx8; 
                margin-left: $Wx1;
                text-align: center;
                color: #0005;
              }
              &:after{
                content: "";
                width: calc((#{$Wx1} + #{$min}) / 2);
                left: calc((#{$Wx1} + #{$min}) / -2);
                height: calc(#{$Wx1} * 5);
                bottom: calc(#{$Wx1} / -2);
                position: absolute;
                background-color: var(--colorLight);
                clip-path: polygon(
                  0 0,
                  $min 0,
                  $min calc(50% - (#{$min} / 2)),
                  100% calc(50% - (#{$min} / 2)),
                  100% calc(50% + (#{$min} / 2)),
                  $min calc(50% + (#{$min} / 2)),
                  $min 100%,
                  0 100%
                );
              }
              &:nth-of-type(1):after{
                clip-path: polygon(
                  0%   calc(50% - (#{$min} / 2)),
                  100% calc(50% - (#{$min} / 2)),
                  100% calc(50% + (#{$min} / 2)),
                  $min calc(50% + (#{$min} / 2)),
                  $min 100%,
                  0 100%
                );
              }
              &:nth-last-of-type(1):after{
                clip-path: polygon(
                  0 0,
                  $min 0,
                  $min calc(50% - (#{$min} / 2)),
                  100% calc(50% - (#{$min} / 2)),
                  100% calc(50% + (#{$min} / 2)),
                  0%   calc(50% + (#{$min} / 2)),
                );
              }
              &:nth-last-of-type(1):nth-of-type(1):after{
                clip-path: polygon(
                  0%   calc(50% - (#{$min} / 2)),
                  100% calc(50% - (#{$min} / 2)),
                  100% calc(50% + (#{$min} / 2)),
                  0%   calc(50% + (#{$min} / 2)),
                );
              }
            }
          }
        }
      }
      input[type="checkbox"][id^="arrow"]:not([id*="Cookie"]){
        &[id*="_main_"]{
          &:checked+label+nav{display: none}
          &+label[icon]{
            transform: translateX($-Wx1) translateY(calc(#{$Wx1} * -3));
            z-index: 1;
          }
        }
        &:checked+label[icon]{
          &+li+li:not([content$="Add"]){display: none}
          &+li:not([archive]){margin-bottom: $Wx4}
          &:after{transform: rotate(180deg);}
        }
        &+label[icon]{
          height: 0;
          transform: translateX(calc(#{$Wx1} * -5)) translateY(calc(10px * 2));
        }
        &[id*="comments"]{
          display: flex;
          height: 0;
          width: 0;
          &:checked:after{display: flex}
          &:checked:hover:after{background-color: var(--colorLight)}
          &:after{
            content: "";
            position: absolute;
            display: none;
            cursor: row-resize;
            height: calc(#{$Wx2} + #{$min}*2);
            width: calc(#{$width} - #{$Wx2});
            z-index: 100;
            left: $Wx1;
            transform: translateY($min);
          }
          &:checked+label[icon]{
            z-index: 1;
            &+li>h8>div{
              &:hover:nth-of-type(1){background-color: var(--dark7)}
              &:not(:nth-of-type(1)):not(.mainMenu){display: none}
              &:nth-of-type(1){
                box-shadow: inset calc(#{$min} * -1) 0 0 0 var(--dark5);
                &>*{display: none}
                &:after{
                  content: "";
                  width: $Wx1;
                  height: calc(100% + #{$min}*4);
                  position: absolute;
                  right: $-Wx1;
                  top: calc(#{$min} * -2);
                  background-color: var(--dark5);
                  clip-path: polygon(
                    calc((#{$Wx1} - #{$min}) / 2) $min,
                    calc(100% - (#{$Wx1} - #{$min}) / 2) $min,
                    calc(100% - (#{$Wx1} - #{$min}) / 2) calc(50% + #{$min} / 2),
                    0 calc(50% + #{$min} / 2),
                    0 calc(50% - #{$min} / 2),
                    calc((#{$Wx1} - #{$min}) / 2) calc(50% - #{$min} / 2),
                  );  
                }
              }
            }
            &+li[type="main"]{
              min-height: $Wx4;
              &>h8{
                background-color: var(--dark7);
                min-height: calc(#{$Wx1} * 3);
                box-shadow: inset $Wx1 0 0 0 var(--dark6), inset $-Wx1 0 0 0 var(--dark6), 
                            inset 0 $min 0 0 var(--dark6), inset 0 calc(#{$-Wx1}/2) 0 0 var(--dark6);
                input, .mainMenu{opacity: .25}
                .rightRange{
                  width: calc(#{$Wx1} * 3);
                  right: $-Wx1;
                  top: $Wx1;
                }
              }
            }
          }
          &+label[icon]{
            transform: translateX(calc(#{$Wx1} * -3)) translateY(calc(#{$Wx1} * 1.5));
          }
          &[next]{
            &:after{transform: translateY(calc(#{$min} - #{$Wx1} * 3));}
            &+label[icon]{
              transform: translateX(calc(#{$Wx1} * -3)) translateY(calc(#{$Wx1} * -1.5));
            }
          }
        }
      }
      .reset{
        position: absolute;
        bottom: 0;
        right: $Wx1;
        &:nth-of-type(2){right: calc(#{$Wx1} * 14)}
      }
      >div[load]{
        width: calc(#{$width} - #{$Wx2});
        margin-left: $Wx1;
        background-color: var(--dark7);
        display: flex;
        justify-content: center;
        &:not([name]){cursor: wait;}
        &:not([name]):after{
          background-image: url(https://image.flaticon.com/icons/svg/1437/1437788.svg);
          @include bgImg;
          animation: rotate 2s linear infinite;
          width: $Wx4;
        }
      }
    }
  }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .scrollTop{
    width: calc(50vw - (#{$width} / 2 + #{$Wx4} + #{$Wx1} + #{$min}));
    height: 100vh;
    position: fixed;
    z-index: 0;
    bottom: 0;  
    right: 0;   
    cursor: pointer;    
    &:hover:before{opacity: 1}
    &:before{
      transition: .5s;
      content: "";
      height: inherit;
      width: $Wx4;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
    }
  }
  .rightMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    right: calc(50vw - (#{$width} / 2 + #{$Wx4} + #{$Wx1} + #{$min}));
    width: $Wx4;  
    height: 100vh;
    &:hover+.rightFilter{
      opacity: .25;
      animation: hide .25s alternate;
      >div>a>input[type="radio"]+label[for$="Max"]:after{color: #0000}      
    }
    input:not([name="lang"]){
      &:checked+label:after{opacity: .8;}  
      &[id="autoload"]{
        &:checked+label[for="autoload"]{
          &:after{animation: rotate 2s linear infinite;}
          &:hover:before{content: "["attr(number)"] "attr(name);}
          &:before{
            content: "["attr(number)"]";
            opacity: 1; 
            transform: translateX(calc(#{$Wx4} + #{$Wx1})) translateY(calc(#{$min} + #{$Wx1}));
          }
        }     
        &[act="load"]+label[for="autoload"]:after{animation: rotate 2s linear infinite;}
        &[act="stop"]+label[for="autoload"][status="nodata"]:after{background-image: url(https://image.flaticon.com/icons/svg/561/561189.svg)}
        &[act="stop"]+label[for="autoload"][status="completed"]:after{background-image: url(https://image.flaticon.com/icons/svg/2089/2089711.svg)}
        &+label[for="autoload"]{
          transition: .1s;
          &:before{content: "["attr(number)"] "attr(name);}
        }
      } 
    }        
    .topMenu{z-index: 1;} 
    .topMenu, .bottomMenu, .loadCode{
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: $Wx8;
      width: $Wx4;   
    }  
    .loadCode{
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: calc(100% - #{$Wx4});
      width: $Wx4; 
      input{
        &:checked+label{
          opacity: .25;
          &:after{animation: rotate 2s linear infinite;}
        }
        &+label{opacity: 0}
      }
    }
    .getLang{
      width: $Wx4;
      min-height: $Wx2;
      position: absolute;
      font-weight: bold;
      top: calc(#{$Wx4} + #{$Wx2});  
      padding-top: $Wx2;
      &:hover{z-index: 2}
      &:before{
        content: "";
        width: inherit;
        height: $Wx1;
        position: absolute;
        bottom: $-Wx1;
      }
      input[type="radio"]{
        &:checked+label{
          position: absolute;
          top: 0;
        }
        +label{
          width: $Wx4;
          height: $Wx2;
          @include flexCC;
          cursor: pointer; 
        }
      }
    }
    .getTheme{
      clip-path: polygon(calc(100% - #{$Wx4}) 0, 100% 0, 100% 100%, calc(100% - #{$Wx4}) 100%);
      height: $Wx4;
      display: flex;
      position: absolute;
      right: 0;
      padding-right: $Wx4;
      z-index: 10;
      &:hover{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      input{
        &:checked+label{
          right: 0;
          position: absolute;
        }
      }
      &:before{
        content: "";
        width: inherit;
        height: inherit;
        position: absolute;
        box-shadow: inset $-Wx4 0 0 0 var(--colorLight);
      }
    }
    &:before{
      content: "";
      width: inherit;
      height: inherit;
      position: absolute;
    }
  } 
  .rightFilter{
    position: fixed;
    height: 100vh;
    max-width: $Wx20;
    min-width: $Wx16;
    width: calc(50vw - (#{$width} / 2 + #{$Wx8} + #{$Wx1} + #{$min}));
    top: 0;
    z-index: 11;
    left: calc(50vw + (#{$width} / 2 + #{$Wx4} + #{$Wx1} - #{$min}));
    transition: .25s;
    overflow-y: scroll;
    overflow-x: hidden; 
    &::-webkit-scrollbar{width: 0}
    &:before{
      content: "";
      width: inherit;
      height: inherit;
      max-width: $Wx20;
      opacity: .5;
      position: fixed;
      top: 0;
      z-index: -1;
      overflow-x: hidden;
    } 
    >div{
      width: inherit;
      display: block;
      height: max-content;
      min-height: 100vh;
      padding-bottom: $Wx8;
      &>input[id*="Filter"]{
        &:checked+label+div[class*="Filter"]{
          display: flex;
        }
        &+label{
          z-index: 10;
          width: 100%;
          display: block;
          &:after{z-index: 100;}
        }
      }
      >div[class*="Filter"]{
        width: 100%;
        height: auto;
        min-height: calc(#{$Wx1} * 3);
        transform: translateY(0);
        display: none;
        justify-content: center;
        align-items: center;
        margin-bottom: $Wx1;
        &:before{
          content: "";
          width: inherit;
          height: 100%;
          position: absolute;
          z-index: -1;
          opacity: .25;
          background-color: var(--colorLight);
          clip-path: polygon(
            0 0, 0 calc(#{$Wx1} * 1.5), $Wx1 calc(#{$Wx1} * 1.5), $Wx1 100%, 
            calc(100% - #{$Wx1}) 100%, calc(100% - #{$Wx1}) calc(#{$Wx1} * 1.5), 100% calc(#{$Wx1} * 1.5), 100% 0);
        }
        &:not([class="channelFilterWrap"]):after{
          content: "-";
          width: $Wx1;
          height: inherit;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: calc(50% - #{Wx1} / 2);
          color: #0004;
          font-size: $font;
          font-weight: bold;
        }
        >input[type="text"]{
          width: calc(50% - #{$Wx2});
          height: $Wx2;
          border: 0;
          background: 0;
          color: #0004;
          box-shadow: 0 $min 0 0 #0006;
          font-size: $font;
          font-weight: bold;
          &:nth-of-type(1){
            text-align: end;
            margin-right: $Wx1;
          }
        }
        &[class="channelFilterWrap"]{
          flex-direction: column;
          margin-bottom: $Wx1;
          &:before{
            clip-path: polygon(
              0 0, 0 calc(#{$Wx1} * 1.5), $Wx1 calc(#{$Wx1} * 1.5), $Wx1 100%, 
              calc(50% - #{$Wx12} / 2) 100%, calc(50% - #{$Wx12} / 2) 0, calc(50% + #{$Wx12} / 2) 0, calc(50% + #{$Wx12} / 2) 100%,
              calc(100% - #{$Wx1}) 100%, calc(100% - #{$Wx1}) calc(#{$Wx1} * 1.5), 100% calc(#{$Wx1} * 1.5), 100% 0);
          } 
          &>a{
            height: $Wx2;
            width: $Wx12;
            input{
              &:nth-of-type(1)+label{margin-top: calc(#{$Wx1} / 2);}
              &[checked]:not(:checked)+label:before{background-color: var(--red); opacity: .3;}
              &:checked:not([checked])+label:before{background-color: var(--green); opacity: .3;}
              &:checked+label:before{opacity: 1}
              &+label{
                height: $Wx2;
                margin-bottom: calc(#{$Wx1} / 2);
              }
            }
          }
        }
      }
      input[type="radio"]{
        &:checked+label[for$="Max"]{
          &:before, &:after{opacity: .6}
        }  
        &+label[for$="Max"]{
          width: 100%;
          &:after{transition: .25s}
        }
      }
      #resetAll, #activeFilter{
        width: 100%;
        position: absolute;
        bottom: 0;
      }
      #activeFilter{bottom: $Wx4}
      input[id="filterOrder"]{
        display: flex;
        height: 0;
        &:hover+label{background-color: var(--colorLight);}
        &:after, &:before{
          z-index: 1000;
          position: absolute;
          height: $Wx4;
          width: calc(50% - #{$Wx2});
          font-size: $font;
          color: #0004;
          font-weight: bold;
          display: flex;  
          align-items: center;
        }
        &:after{
          content: attr(more);
          justify-content: flex-end;
        }
        &:before{
          content: attr(less);
          justify-content: flex-start;
          right: 0;
        }
        &:checked+label:after{transform: rotate(90deg)}
        &+label{
          width: 100%;
          display: block;
          &:after{transform: rotate(270deg)}
        }
      }
      #filterRadio{
        display: grid;
        height: $Wx4;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin-bottom: $Wx4;
        &>input{
          &+label{
            width: 100%;
          }
        }
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



[class^="ndis"], .ndis{display:none}
div[table]:hover>div{opacity: 1}
.smile{transform: translateY(3px); max-height: 17px;}
