:root{
  --color1: #55883a;
  --color2: #7fa66b;
  --color3: #aec8a0;
  --color4: #d4e7c9;  
  
  --light:  #d4e7c9;
  --dark:   #55883a;
  
  --dark1:  #333333;
  --dark2:  #cccccc;
  --dark3:  #999999;
  --dark4:  #bbbbbb;
  --dark5:  #dddddd;
  --dark6:  #f5f5f5;
  --dark7:  #f9f9f9;
  --dark8:  #ffffff;
}