@import "colors.scss";
@import "mixin.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}
input[type="radio"], input[type="checkbox"]{display: none;}
input:focus{outline: none;}
::-webkit-scrollbar{width: 4px; height: 4px;}
::-webkit-scrollbar-thumb{width:2px; transition: .1s; background-color: #666}
::-webkit-scrollbar-thumb:hover{border-left: 0}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
loading{
  width: 100vw;
  height: 100vh;
  display: fixed;
  background: #fff;
}
body{
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: $fontSize;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  header{
    @include flexCC;
    height: calc(#{$widthSmall} * 1);
    width: $width;
    position: relative;
    font-size: calc(#{$widthSmall} / 2);
    z-index: 15;   
  }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // .totalLI{
  //   @include flexCC;
  //   height: 20px;
  //   width: $width;
  //   overflow: hidden;
  //   font-weight: bold;  
  //   cursor: default;
  //   &:after{
  //     content: attr(title);
  //     height: inherit;
  //     background-color: var(--dark8);
  //     position: absolute;      
  //     right: calc(#{$widthSmall} * 2);
  //     font-size: 35px;
  //     font-weight: normal;
  //     color: #0000;
  //   }
  //   &:nth-of-type(1){
  //     position: absolute;
  //     top: $top;
  //   }
  //   &:nth-of-type(2){
  //     position: static;
  //     margin-top: -45px;
  //     margin-left: -10px;
  //   }
  // }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // .dopload{
  //   @include flexCC;
  //   position: fixed;
  //   width: 100vw;
  //   height: 100vh;
  //   z-index: 200;
  //   background: #222b;
  //   div[tr]{
  //     position: fixed;
  //     width: $width;
  //     height: 400px;
  //     top: 150px;
  //     padding: 60px 10px 10px 10px;
  //     overflow: hidden;
  //     h4{
  //       position: absolute;
  //       left: 0;
  //       top: 0;
  //       transition: .2s;
  //       a[target]:after{content: ":[" attr(totalsum) "]";}
  //       a[time]:hover:after{content: attr(time)}
  //     }
  //     scroll{
  //       height: 100%;
  //       width: 100%;
  //       display: block;
  //       overflow-Y: scroll;
  //       div{
  //         width: 100%; display: flex;
  //         a{
  //           text-align: start; 
  //           width: calc(100% - 30px); 
  //           padding: 5px;
  //         }
  //         &:hover{
  //           background: #0003;
  //           a{padding: 10px 5px}
  //         }
  //       }
  //     }
  //   }
  // }  
  main{
    height: 100%;
    width: $width;
    z-index: 5;
    position: static;
    top: $top;
    #awayMove{
      width: 2px;
      height: 2px;
      position: absolute;
      z-index: 100;
      top: 0px;
      left: 0px;
      cursor: none;
    }  
    ul{
      padding-top: $widthSmall; 
      width: 100%;
      height: 100%;
      list-style: none;
      display: grid;
      gap: $widthSmall;
      >hr{
        height: 10px;
        border: 0;
        background: var(--dark6);
        box-shadow: 10px 0 0 0 var(--dark6), -10px 0 0 0 var(--dark6);
      }
      #resEmpty{
        @include flexCC;
        height: calc(#{$widthSmall} * 5);
      }        
    }
  }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
  .scrollTop{
    width: calc(50vw - (#{$width} / 2 + #{$widthSmall} + #{$gap} + 2px));
    height: 100vh;
    position: fixed;
    opacity: 0;
    z-index: 0;
    bottom: 0;  
    right: 0;   
    cursor: pointer;    
    transition: .5s;
    &:hover{opacity: 1}
  }
  .rightFilter{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    right: calc(50vw - (#{$width} / 2 + #{$widthSmall} + #{$gap} + 2px));
    width: $widthSmall;  
    height: 100vh;
    input:not([name="lang"]){
      &:checked+label:after{opacity: .8;}  
      &:checked+label[for="getTheme"]:after{
        @include bgImg;
        background-image: url('https://image.flaticon.com/icons/svg/60/60967.svg');
        filter: invert(1);
      }
      &+label{
        width: $widthSmall;
        height: $widthSmall;
        cursor: pointer;
        &:before{
          content: attr(name);
          font-weight: normal;
          position: absolute;
          opacity: 0;
          transition: .5s;
          text-align: left;
          white-space: nowrap;
          transform: translateX($widthSmall) translateY(12px);      
        }
        &:hover:before{
          opacity: 1;
          transform: translateX(calc(#{$widthSmall} + #{$gap})) translateY(12px);
          box-shadow: 0 0 0 4px #fff;
          background: #fff;
        }
        &:after{
          @include flexCC;
          @include bgImg;
          content: "";
          width: $widthSmall;
          height: $widthSmall;
          position: absolute;
          background-image: url('https://image.flaticon.com/icons/svg/64/64299.svg');
          opacity: .2;
          font-size: $fontSize;          
        }
        &:hover:after{opacity: .5}
        &[for="getTheme"]:after{background-image: url(https://image.flaticon.com/icons/svg/1415/1415431.svg)}
        &[for^="main"]:after{background-image: url(https://image.flaticon.com/icons/svg/44/44499.svg)}
        &[for^="fbi"]:after{background-image: url(https://image.flaticon.com/icons/svg/1039/1039481.svg)}
        &[for^="notes"]:after{background-image: url(https://image.flaticon.com/icons/svg/2119/2119695.svg)}
        &[for^="tags"]:after{background-image: url(https://image.flaticon.com/icons/png/512/1873/1873920.png)}
        &[for^="archive"]:after{background-image: url(https://www.flaticon.com/premium-icon/icons/svg/2169/2169319.svg)}
        &[for^="settings"]:after{background-image: url(https://image.flaticon.com/icons/svg/70/70367.svg)}
        &[for^="database"]:after{background-image: url(https://image.flaticon.com/icons/svg/76/76725.svg)}
        &[for="filterMenu"]:after{background-image: url('https://image.flaticon.com/icons/svg/1159/1159884.svg')}    
        &[for="autoload"]:after{background-image: url('https://image.flaticon.com/icons/svg/1437/1437788.svg')} 
      }  
      &[id="autoload"]{
        &:checked+label[for="autoload"]{
          &:after{animation: rotate 2s linear infinite;}
          &:hover:before{content: "["attr(number)"] "attr(name);}
          &:before{
            content: "["attr(number)"]";
            opacity: 1; 
            transform: translateX(calc(#{$widthSmall} + #{$gap})) translateY(12px);
          }
        }      
        +label[for="autoload"]{
          transition: .1s;
          &:before{content: "["attr(number)"] "attr(name);}
        }
      } 
    }        
    .topFilter{z-index: 1;} 
    .topFilter, .bottomFilter{
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: $top;
      width: $widthSmall;   
    }     
    .activeBottomFilter{
      position: fixed;
      height: 100vh;
      width: calc(50vw - (#{$width} / 2 + (#{$widthSmall} * 2) + #{$gap} + 2px));
      top: 0;
      opacity: .8;
      z-index: 11;
      right: $widthSmall;
    }
    .getLang{
      width: $widthSmall;
      min-height: calc(#{$widthSmall} / 2);
      position: absolute;
      font-weight: bold;
      top: calc(#{$widthSmall} * 1.5);  
      padding-top: calc(#{$widthSmall} / 2);
      &:hover{z-index: 2}
      input[type="radio"]{
        &:checked+label{
          position: absolute;
          top: 0;
        }
        +label{
          width: $widthSmall;
          height: calc(#{$widthSmall} / 2);
          @include flexCC;
          cursor: pointer; 
        }
      }
    }
  } 
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////







.graphX canvas{
  height: 200px;
  &.graphAim{width: 720px}
}
.allMaxLine{
  position: absolute;
  height: 200px;
  width: 2px;
  left: -1px;
  >dot{
    &[hover="1"]{width: 730px}
    position: absolute;
    width: 9px;
    height: 2px;
    cursor: pointer;
    font-weight: bold;
    &:after{
      content: attr(alt);
      font-size: 12px;
      position: absolute;
      left: 10px;
      top: -15px;
      text-align: center;
      width: 30px;
      height: 15px;
      opacity: 0;
    }
    &:before{
      content: attr(memeName);
      font-size: 12px;
      position: absolute;
      right: 0;
      top: -15px;
      text-align: center;
      padding: 0 10px;
      height: 15px;
      // background: #0002;
      opacity: 0;
    }    
    &:hover{
      width: 730px;
      &:after{opacity: 1}
      &:before{opacity: 1}
    }
  }
}








h7{font-size: 14px}
h8{
  padding: 10px;
  width: 100%; 
}
#stats h8{
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
#fbi h8{
  display: flex;
  flex-direction: column;
}
input[type="range"][name="graphRange"]{
  width: calc(100% - 30px);
  transform: translateY(10px);
  -webkit-appearance: none;
}
input[type="range"][name="graphRange"]::-webkit-slider-runnable-track{
  height: 2px;
}
input[type="range"][name="graphRange"]::-webkit-slider-thumb{
  height: 8px;
  width: 80px;
  border-radius: 4px;
  -webkit-appearance: none;
  cursor: ew-resize;
  margin-top: -3px;
}






input[type="range"][name="graphMeme"]{
  -webkit-appearance: none;
  position: absolute;
  right: -80px;
  height: 2px;
  width: 200px;
  transform: rotate(90deg);
}
input[type="range"][name="graphMeme"]::-webkit-slider-runnable-track{
  height: 2px;
}
input[type="range"][name="graphMeme"]::-webkit-slider-thumb{
  height: 20px;
  width: 20px;
  border-radius: 4px;
  -webkit-appearance: none;
  margin-top: -9px;
  cursor: ns-resize;
}




#setting{
  .line{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 100%;
    overflow: hidden; 
    color: #0008;
    &:nth-child(1){margin-top: 10px}
    &>p{padding: 10px;}
    &>hr{
      height: 2px;
      margin: 10px 0; 
      border: 0;
    }
    div[content]{  
      &>p{margin-top: 10px;}
      .tagsAdd{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 177.25px;
        grid-template-rows: 28px;
        margin-top: 5px;
        padding: 5px 5px 0 5px;
        gap: 5px;
        &>input{
          border: 0;
          padding: 0 10px;
          font-size: 14px;
          font-weight: bold;
          &::placeholder{color: #0006}
        }
        &>.tagAdd{
          @include flexCC;
          cursor: pointer;
          color: #0006;
          &:before{
            content: "";
            width: 177.25px;
            height: 28px;
            position: absolute;
          }
          &:hover{
            color: #0008;
            &:before{background: #0001;}
          }
          &:active{
            color: #000a;
            &:before{background: #fff1;}
          }          
        }
      }
      .tagsBox{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        padding: 5px;
        .tag{
          height: fit-content;
          padding: 5px 8px;
          color: #0006;
          display: flex;
          position: relative;
          tagname{
            width: calc(100% - 24px);
            text-align: start;
          }
          del{
            width: 16px;
            height: 16px;
            position: absolute;
            right: 8px;
            margin-top: 1px;
            background: #0006;
            border-radius: 2px;
            cursor: pointer;
            &:hover{background: #800;}
            &:active{background: #600;}
          }
        }
      }
    }
    div[table]{
      display: grid;
      &[grid="graphAll"]>div:not(.tagsBox)>p{text-align: start}
      &[grid]{
        grid-auto-rows: 100px; 
        grid-template-columns: repeat(7, 1fr);
      }
      &>div:not(.tagsBox){
        @include flexCC;
        flex-direction: column;
        &>p{width: 100%}
      }
      .linePoint{
        height: 50px;
        display: flex;
        &>div:nth-child(2){
          width: 25px;
          height: 50px;
          &>p{
            @include flexCC;
            width: 23px;
            height: 23px;
            cursor: pointer;
            position: relative;
            background: #0002;
            margin-left: 3px;
            box-shadow: inset 0 0 0 1px #0004;
            &[pm="1"]{margin-bottom: 4px;}
            &[pm="0"]:hover{background: #800}
          }
        }
      }
      .point{
        @include flexCC;
        width: 50px;
        height: 50px;
        transition: .1s;
        background-color: #0001;
        color: #0004;
        box-shadow: inset 0 0 0 1px #0004;
        cursor: default;
        &:after{
          @include flexCC;
          position: absolute;
          height: 48px;
          width: 48px;
          color: #0009
        }
        &[yesno="1"]:after{content: "Да"}
        &[yesno="0"]:after{content: "Нет"}
      }      
    }
  }
}

h4{
  text-align: center; 
  width: 100%;
  padding: 7px;
  height: 55px;
  overflow: hidden;
  &.old{
    filter: grayscale(1);
    &:hover{filter: grayscale(0);}
  }
  &:after{
    content: "";
    position: absolute;
    width: 54px;
    height: 54px;
    right: 0;
    top: 0;
    background-image: url("https://image.flaticon.com/icons/png/512/1116/1116532.png");
    background-position: 12px -37px;
    background-size: 150%;
    background-repeat: no-repeat;
    opacity: .1;
  }
}
#fbi h4{
  position: relative;
  height: 36px;
  padding: 10px;
}

ul h4 a[target]:after{content: ":["attr(totalsum)"]";}
#fbi h4 a[date]:after{font-size: 16px;}
#fbi h4 a[date]{
  position: absolute;
  left: 15px;
  top: 10px;
}




a[streamer]{width: 100%;}





li{
  margin: 0 10px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}
li[graph]{height: 300px}

li:hover .delete{display: flex}

ul li div[num]{
  height: 54px;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
ul li div[num]:after, ul li div[num]:before{
  @include flexCC;
  content: attr(num);
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold;  
  font-size: 75%;
}
ul li div[num]:before{
  content: attr(realnum);
  display: none;
}
ul li div[num]:hover:before{display: flex}
ul li div[num]:hover:after{display: none}

#fbi li div[num]{height: 35px;}



a[date]:after{
  content: attr(date);
  font-size: 14px
}
a[date]:hover:after{
  content: attr(fulldate);
  cursor: default;
}

.twitchInfo{
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  a[type]{
    height: 50px;
    width: 40px;
    margin-right: 10px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    font-size: 75%;
    cursor: pointer;
    padding-bottom: 3px;
    &[type="tag"]{order: 3}
    &[type="notes"]{order: 2}
    &[type="fbi"]{order: 1}
    &:hover:after{opacity: .25}
    &:after{
      @include flexCC;
      content: "";
      position: absolute;
      top: 0;
      @include bgC;
      width: 40px;
      height: 50px;
      opacity: .1;   
    }
    &[type="tag"]:after{
      background-image: url(https://image.flaticon.com/icons/png/512/1873/1873920.png);
      background-size: 32px;
    }
    &[type="notes"]:after{
      background-image: url(https://image.flaticon.com/icons/svg/2119/2119695.svg);
      background-size: 32px;
    }
    &[type="fbi"]:after{
      background-image: url(https://image.flaticon.com/icons/svg/1039/1039481.svg);
    }
  }
}




#fbi li h8 div>a{
  text-align: start; 
  width: calc(100% - 30px); 
  padding: 5px;
  &>a{
    background: var(--light);
    color: var(--dark);
    opacity: .75;
    font-weight: bold;
    padding: 2px 5px;
    margin-left: 2px;
  }
  &>a:hover{
    opacity: 1;
    padding: 2px 7px;
    margin-left: 0;
  }
  &[num]:hover:before{color: var(--color1);}
  &[num]:before{
    content: "["attr(num)"]";
    color: var(--dark2);
    font-weight: bold;
  }
}
#fbi li h8>div{width: 100%; display: flex}
#fbi li h8>div:hover{background: #0003}
#fbi li h8 div:hover>a{padding: 10px 5px}
#fbi li h8 div[delete]:hover:after{opacity: .5}
#fbi li h8 div[delete]{
  height: inherit;
  width: 30px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
#fbi li h8 div[delete]:after{
  content: "";
  height: 100%;
  width: inherit;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-image: url('https://image.flaticon.com/icons/svg/32/32178.svg');
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat
}



#stats[fbi] li{flex-direction: row;}
#stats[fbi] h4{
  width: 200px;
  height: 100%;
}
#stats[fbi] h8{
  justify-content: start;
  padding: 10px;
}
#stats[fbi] h8:after{content: ""}
#stats[fbi] h4 a:after{content: ""}


.graphX{
  height: 200px;
  width: 720px;
  overflow: hidden;
  position: relative;
}
#stats li h8:after{
  content: attr(meme)" ["attr(sum)"]";
  position: absolute;
  top: 53px;
  transition: .25s;
  right: 40px;
  font-weight: bold;
  color: #0006
}



.graph, .graphAim{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.graphAim{
  position: absolute;
  top: 0;
  cursor: none
}






























[class^="ndis"], .ndis{display:none}
.exampleColor{height: 18px; opacity: 0; transition: .5s; margin-bottom: 2px}
div[table]:hover>div{opacity: 1}
.smile{margin-bottom: -5px; max-height: 24px;}
.close{background-image: url(https://cdn.glitch.com/6071b2e0-8e18-43d9-becd-4591bcf616db%2Fclose.png?v=1571684345965); opacity: .25}
.close:hover{opacity: .75}

