@import "colors.scss";
@import "mixin.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}
input[type="radio"], input[type="checkbox"]{display: none;}
input:focus{outline: none;}
::-webkit-scrollbar{width: 4px; height: 4px;}
::-webkit-scrollbar-thumb{width: $min; transition: .1s; background-color: #666}
::-webkit-scrollbar-thumb:hover{border-left: 0;}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
loading{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #000;
  overflow-y: hidden;
  overflow-x: hidden;
}
body{
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: $fontSize;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: calc(#{$widthSmall} * 1);
    width: $width;
    position: relative;
    font-size: calc(#{$widthSmall} / 2);
    z-index: 15;   
  }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // .dopload{
  //   @include flexCC;
  //   position: fixed;
  //   width: 100vw;
  //   height: 100vh;
  //   z-index: 200;
  //   background: #222b;
  //   div[tr]{
  //     position: fixed;
  //     width: $width;
  //     height: 400px;
  //     top: 150px;
  //     padding: 60px 10px 10px 10px;
  //     overflow: hidden;
  //     h4{
  //       position: absolute;
  //       left: 0;
  //       top: 0;
  //       transition: .2s;
  //       a[target]:after{content: ":[" attr(totalsum) "]";}
  //       a[time]:hover:after{content: attr(time)}
  //     }
  //     scroll{
  //       height: 100%;
  //       width: 100%;
  //       display: block;
  //       overflow-Y: scroll;
  //       div{
  //         width: 100%; display: flex;
  //         a{
  //           text-align: start; 
  //           width: calc(100% - 30px); 
  //           padding: 5px;
  //         }
  //         &:hover{
  //           background: #0003;
  //           a{padding: 10px 5px}
  //         }
  //       }
  //     }
  //   }
  // }  
  main{
    height: 100%;
    width: $width;
    z-index: 5;
    position: static;
    top: $top;
    #awayMove{
      width: $min;
      height: $min;
      position: absolute;
      z-index: 100;
      top: 0px;
      left: 0px;
      cursor: none;
    }  
    ul{
      padding-top: $widthSmall; 
      width: 100%;
      height: 100%;
      list-style: none;
      display: grid;
      gap: $widthSmall;
      li{
        list-style: none;
        display: flex;
        flex-direction: column;
        position: relative; 
        width: 100%;
        &:hover h8 .allMaxLine>dot:not([hover="1"]){
          width: calc(#{$widthSmall} / 4);
          transform: translateX(0);
          opacity: 1;
          &:hover{
            width: calc(#{$width} - #{$widthSmall} / 4 - #{$min} / 2);
            &:after{opacity: 1}
            &:before{display: flex;}
          }
        }
        h4{ 
          width: inherit;
          height: calc(#{$widthSmall} / 2);
          position: absolute;
          transform: translateY(calc(-#{$widthSmall} / 2));
          &.old{
            filter: grayscale(1);
            &:hover{filter: grayscale(0);}
          }   
          a[date]{
            width: $widthSmall;
            height: inherit;
            position: absolute;
            display: flex;
            top: 0;
            left: calc(-#{$widthSmall} * 1.1);
            &:after{
              content: attr(date);
              font-size: $fontSize;
              white-space: nowrap;
              position: absolute;
              display: flex;
              align-items: center;
              right: calc(-#{$widthSmall} / 4);
            }
            &:hover:after{
              content: attr(fulldate);
              cursor: default;
            }
          }
          a[target]{
            height: inherit;
            position: absolute;
            left: calc(#{$widthSmall} / 4);
            &:after{content: ":"attr(totalsum);}
          }
          // div[num]{
          //   height: $widthSmall;
          //   width: $widthSmall;
          //   position: absolute;
          //   font-size: $fontSize;
          //   font-weight: bold; 
          //   right: 0;
          //   top: 0;            
          //   &:after, &:before{
          //     @include flexCC;
          //     content: attr(num);
          //     position: absolute;
          //     width: inherit;
          //     height: inherit;
          //   }
          //   &:before{
          //     content: attr(realnum);
          //     display: none;
          //   }
          //   &:hover:before{display: flex}
          //   &:hover:after{display: none}
          // }
        }
        h8{
          height: inherit;
          width: inherit;
          display: flex;
          flex-direction: column;
          .graphX{
            height: calc(100% - #{$widthSmall} / 4);
            width: calc(#{$width} - #{$widthSmall} / 2);
            left: calc(#{$widthSmall} / 4);
            overflow: hidden;
            position: relative;
            canvas{
              height: inherit;
              overflow-y: hidden;
              overflow-x: hidden;
              position: relative;
              &.graphAim{
                width: inherit;
                position: absolute;
                top: 0;
              }
            }
          }  
          .allMaxLine{
            position: absolute;
            height: inherit;
            width: $min;
            left: 0;
            bottom: 0;
            >dot{
              &[hover="1"]{
                width: calc(#{$width} - #{$widthSmall} / 4 - #{$min} / 2);
                transform: translateX(0);
                opacity: 1;
              }
              width: calc(#{$width} - #{$widthSmall} / 2 - #{$min} / 2);
              transform: translateX(calc(#{$widthSmall} / 4));
              opacity: .15;
              position: absolute;
              height: $min;
              cursor: pointer;
              font-weight: bold;
              &:after, &:before{
                font-size: calc(#{$widthSmall} / 4 + #{$min});
                top: calc(#{$widthSmall} / -4 - #{$min} * 2);
                height: calc(#{$widthSmall} / 4 + #{$min});
                position: absolute;
              }
              &:after{
                content: attr(alt);
                left: calc(#{$widthSmall} / 3);
                text-align: left;
                opacity: 0;
              }
              &:before{
                display: none;
                content: attr(memeName);
                right: calc(#{$widthSmall} / 4);
                text-align: right;
              }
            }
          }
          .menu{
            width: calc(#{$widthSmall} / 4);
            height: calc(#{$widthSmall} / 4);
            clip-path: polygon(0 0, 0 100%, calc(100% - #{$widthSmall} / 4) 100%, 100% calc(100% - #{$widthSmall} / 4), 100% 0);
            position: absolute;
            bottom: 0;
            right: 0;
            overflow: hidden;
            transition: .25s;
            z-index: 1;
            &:hover{
              width: calc(#{$widthSmall} * 3.25);
              height: calc(#{$widthSmall} * 5 - 1px);
            }
            >div{
              width: calc(#{$widthSmall} * 3.25);
              height: calc(#{$widthSmall} * 5 - 1px);
            }
          }
          input[type="range"]{
            -webkit-appearance: none;  
            position: absolute;
            cursor: pointer;
            &[name="rightRange"]{            
              top:   calc(#{$widthSmall} * 2.25);
              right: calc(#{$widthSmall} * -2.25);
              width: calc(#{$widthSmall} * 4.75);
              transform: rotate(90deg);
              &::-webkit-slider-runnable-track{
                height: calc(#{$widthSmall} / 4);
                overflow: hidden;
              }
              &::-webkit-slider-thumb{
                height: calc(#{$widthSmall} / 4);
                width: $widthSmall;
                -webkit-appearance: none;
                cursor: ns-resize;
              }
            }
            &[name="bottomRange"]{
              bottom: calc(#{$widthSmall} / 4);
              width: calc(#{$width} - #{$widthSmall} / 2);
              transform: translateY(calc(#{$widthSmall} / 4)) translateX(calc(#{$widthSmall} / 4));
              &::-webkit-slider-runnable-track{
                height: calc(#{$widthSmall} / 4);
                overflow: hidden;
                transition: .25s;
              }
              &::-webkit-slider-thumb{
                height: calc(#{$widthSmall} / 4);
                width: calc(#{$widthSmall} * 3);
                -webkit-appearance: none;
                cursor: ew-resize;
              }
              &:after, &:before{
                position: absolute;
                transition: .25s;
              }
              &:after{
                content: attr(percent)"%";
                font-size: $fontSize;
                white-space: nowrap;
                font-weight: bold;
                height: calc(#{$widthSmall} / 2);
                right: calc(100% + #{$widthSmall} / 4 + #{$min});
                top: calc(#{$widthSmall} / 4 - #{$fontSize});
              }
              &:before{
                content: "";
                width: calc(#{$widthSmall} / 4);
                height: calc(#{$widthSmall} / 4);
                clip-path: polygon(0 0, 0 100%, calc(100% - #{$widthSmall} / 4) 100%, 100% calc(100% - #{$widthSmall} / 4), 100% 0);
                transform: rotate(90deg);
                background-color: var(--dark5);
                right: 100%;
                top: 0;
              }
            }          
          }   
          &:not([notcounter]){
            &:after{
              content: attr(meme)":["attr(sum)"]";
              font-size: $fontSize;
              white-space: nowrap;
              font-weight: bold;
              height: calc(#{$widthSmall} / 2);
              position: absolute;
              right: calc(#{$widthSmall} * 0.5);
              top: calc(-#{$widthSmall} * 0.5);
              display: flex;
              justify-content: flex-end;
            }
            &:before{
              content: "";
              width: calc(#{$widthSmall} * 0.375);
              height: calc(#{$widthSmall} * 0.25 + #{$min} / 2);
              position: absolute;
              right: calc((#{$widthSmall} * 0.25 - #{$min}) / 2);
              top: calc((#{$widthSmall} * 0.25 + #{$min} / 2) * -1);
              clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - #{$min}) 100%, calc(100% - #{$min}) $min, 0 $min);
            }
          }
        }   
        &[type="main"]{min-height: calc(#{$widthSmall} * 5);}
        &[type="comments"]{
          h8{
            div:not([delete]){
              width: calc(#{$width} - #{$widthSmall} / 2);
              min-height: calc(#{$widthSmall} / 2 + #{$min} * 2);
              transform: translateX(calc(#{$widthSmall} / 4));
              display: flex;
              font-size: $fontSize;
              background-color: var(--dark7);
              padding: $min calc(#{$widthSmall} / 8);
              margin: calc(#{$min} * 2) 0;
              &:nth-child(1){margin: $min 0 calc(#{$min} * 2) 0;}
              &:hover{
                background-color: var(--colorLight);
                a{color: var(--colorDark);}
                div[delete]:after{opacity: .25}
              }
              &:nth-last-child(1) a:after{
                clip-path: polygon(
                  calc((#{$widthSmall} / 4 - #{$min}) / 2) 0,
                  calc(100% - (#{$widthSmall} / 4 - #{$min}) / 2) 0,
                  calc(100% - (#{$widthSmall} / 4 - #{$min}) / 2) calc(50% + #{$min} / 2),
                  0 calc(50% + #{$min} / 2),
                  0 calc(50% - #{$min} / 2),
                  calc((#{$widthSmall} / 4 - #{$min}) / 2) calc(50% - #{$min} / 2),
                );            
              }
              >a{
                color: var(--colorMiddle);
                text-align: start; 
                width: 100%;
                &:after{
                  content: "";
                  width: calc(#{$widthSmall} / 4);
                  height: calc(100% + #{$min}*4);
                  position: absolute;
                  right: calc(#{$widthSmall} / -4);
                  top: -#{$min};
                  background-color: var(--dark3);
                  clip-path: polygon(
                    calc((#{$widthSmall} / 4 - #{$min}) / 2) 0,
                    calc(100% - (#{$widthSmall} / 4 - #{$min}) / 2) 0,
                    calc(100% - (#{$widthSmall} / 4 - #{$min}) / 2) 100%,
                    calc((#{$widthSmall} / 4 - #{$min}) / 2) 100%,
                    calc((#{$widthSmall} / 4 - #{$min}) / 2) calc(50% - #{$min} / 2),
                    0 calc(50% - #{$min} / 2),
                    0 calc(50% + #{$min} / 2),
                    calc((#{$widthSmall} / 4 - #{$min}) / 2) calc(50% + #{$min} / 2),
                  );
                }
              } 
              div[delete]{
                width: calc(#{$widthSmall} / 2);
                height: 100%;
                position: absolute;
                top: 0;
                left: calc(#{$widthSmall} / -2);
                cursor: pointer;
                &:hover:after{opacity: .6;}
                &:after{
                  content: "";
                  height: calc(#{$widthSmall} / 4);
                  width: inherit;
                  position: absolute;
                  left: 0;
                  opacity: 0;
                  top: calc(50% - #{$widthSmall} / 8);
                  background-image: url('https://image.flaticon.com/icons/svg/32/32178.svg');
                  background-size: calc(#{$widthSmall} / 4);
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }   
            }
          }        
        }
        &[type="settings"]{
          input.hueRotateRange{
            -webkit-appearance: none;  
            position: absolute;
            cursor: pointer;
            width: 100%;
            margin-top: $min;
            &::-webkit-slider-runnable-track{
              height: calc(#{$widthSmall} / 4);
              overflow: hidden;
              transition: .25s;
            }
            &::-webkit-slider-thumb{
              height: calc(#{$widthSmall} / 4);
              width: calc(#{$widthSmall} * 3);
              -webkit-appearance: none;
              cursor: ew-resize;
            }
            &:after{
              position: absolute;
              content: attr(deg)"°";
              font-size: $fontSize;
              white-space: nowrap;
              font-weight: bold;
              height: calc(#{$widthSmall} / 2);
              right: calc(100% + #{$widthSmall} / 4 + #{$min});
              top: calc(#{$widthSmall} / 4 - #{$fontSize});
            }          
          }
          input[id$="Cookie"]{
            &:checked+label{
              background-color: var(--colorLight);
              &:after{opacity: .8;}
            }
            &+label{
              width: $widthSmall;
              height: $widthSmall;
              cursor: pointer;
              margin-right: calc(#{$widthSmall} / 4);
              &:after{
                @include flexCC;
                @include bgImg;
                content: "";
                width: $widthSmall;
                height: $widthSmall;
                position: absolute;
                opacity: .2;
                font-size: $fontSize;          
              }
              &:hover:after{opacity: .5}              
            }
          }
        }
      }
      #resEmpty{
        @include flexCC;
        height: calc(#{$widthSmall} * 5);
      }        
    }
  }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
  .scrollTop{
    width: calc(50vw - (#{$width} / 2 + #{$widthSmall} + #{$gap} + #{$min}));
    height: 100vh;
    position: fixed;
    z-index: 0;
    bottom: 0;  
    right: 0;   
    cursor: pointer;    
    &:hover:before{opacity: 1}
    &:before{
      transition: .5s;
      content: "";
      height: inherit;
      width: $widthSmall;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
    }
  }
  .rightFilter{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    right: calc(50vw - (#{$width} / 2 + #{$widthSmall} + #{$gap} + #{$min}));
    width: $widthSmall;  
    height: 100vh;
    &:hover+.activeBottomFilter{
      opacity: .25; 
      label[for$="Max"]:after{color: #0000;}
    }
    input:not([name="lang"]){
      &:checked+label:after{opacity: .8;}  
      &:checked+label[for="getTheme"]:after{
        @include bgImg;
        filter: invert(1);
      }
      &+label{
        width: $widthSmall;
        height: $widthSmall;
        cursor: pointer;
        &:before{
          content: attr(name);
          font-weight: normal;
          position: absolute;
          opacity: 0;
          transition: .5s;
          text-align: left;
          white-space: nowrap;
          transform: translateX($widthSmall) translateY(calc(#{$min} + #{$widthSmall} / 4));      
        }
        &:hover:before{
          opacity: 1;
          transform: translateX(calc(#{$widthSmall} + #{$gap})) translateY(calc(#{$min} + #{$widthSmall} / 4));
        }
        &:after{
          @include flexCC;
          @include bgImg;
          content: "";
          width: $widthSmall;
          height: $widthSmall;
          position: absolute;
          opacity: .2;
          font-size: $fontSize;          
        }
        &:hover:after{opacity: .5}
      }  
      &[id="autoload"]{
        &:checked+label[for="autoload"]{
          &:after{animation: rotate 2s linear infinite;}
          &:hover:before{content: "["attr(number)"] "attr(name);}
          &:before{
            content: "["attr(number)"]";
            opacity: 1; 
            transform: translateX(calc(#{$widthSmall} + #{$gap})) translateY(calc(#{$min} + #{$widthSmall} / 4));
          }
        }      
        +label[for="autoload"]{
          transition: .1s;
          &:before{content: "["attr(number)"] "attr(name);}
        }
      } 
    }        
    .topFilter{z-index: 1;} 
    .topFilter, .bottomFilter{
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: $top;
      width: $widthSmall;   
    }     
    .getLang{
      width: $widthSmall;
      min-height: calc(#{$widthSmall} / 2);
      position: absolute;
      font-weight: bold;
      top: calc(#{$widthSmall} * 1.5);  
      padding-top: calc(#{$widthSmall} / 2);
      &:hover{z-index: 2}
      &:before{
        content: "";
        width: inherit;
        height: calc(#{$widthSmall} / 4);
        position: absolute;
        bottom: calc(-#{$widthSmall} / 4);
      }
      input[type="radio"]{
        &:checked+label{
          position: absolute;
          top: 0;
        }
        +label{
          width: $widthSmall;
          height: calc(#{$widthSmall} / 2);
          @include flexCC;
          cursor: pointer; 
        }
      }
    }
    &:before{
      content: "";
      width: inherit;
      height: inherit;
      position: absolute;
    }
  } 
  .activeBottomFilter{
    position: fixed;
    height: 100vh;
    max-width: calc(#{$widthSmall} * 5);
    width: calc(50vw - (#{$width} / 2 + (#{$widthSmall} * 2) + #{$gap} + #{$min}));
    top: 0;
    z-index: 11;
    left: calc(50vw + (#{$width} / 2 + #{$widthSmall} + #{$gap} - #{$min}));
    flex-direction: column;
    &:before{
      content: "";
      width: inherit;
      height: inherit;
      max-width: calc(40px * 5);
      opacity: .5;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    input[type="radio"]{    
      &:checked+label[for$="Max"]{
        &:before, &:after{opacity: .6}
      }  
      &+label{
         cursor: pointer;
        &[for$="Max"]{
          height: $widthSmall;
          width: inherit;
          &:hover{
            &:before{opacity: .4}
            &:after{opacity: .5}            
          }
          &:before, &:after{
            width: inherit;
            height: inherit;
            position: absolute;            
          }
          &:after{
            content: attr(name);
            @include flexCC;
            font-size: $fontSize;
            color: #000;
            opacity: .3;
            font-weight: bold;
          }
          &:before{
            content: "";
            opacity: 0;
          }
        }
      }
    }
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////






h7{font-size: 14px}




#setting{
  .line{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 100%;
    overflow: hidden; 
    color: #0008;
    &:nth-child(1){margin-top: 10px}
    &>p{padding: 10px;}
    &>hr{
      height: 2px;
      margin: 10px 0; 
      border: 0;
    }
    div[content]{  
      &>p{margin-top: 10px;}
      .tagsAdd{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 177.25px;
        grid-template-rows: 28px;
        margin-top: 5px;
        padding: 5px 5px 0 5px;
        gap: 5px;
        &>input{
          border: 0;
          padding: 0 10px;
          font-size: 14px;
          font-weight: bold;
          &::placeholder{color: #0006}
        }
        &>.tagAdd{
          @include flexCC;
          cursor: pointer;
          color: #0006;
          &:before{
            content: "";
            width: 177.25px;
            height: 28px;
            position: absolute;
          }
          &:hover{
            color: #0008;
            &:before{background: #0001;}
          }
          &:active{
            color: #000a;
            &:before{background: #fff1;}
          }          
        }
      }
      .tagsBox{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        padding: 5px;
        .tag{
          height: fit-content;
          padding: 5px 8px;
          color: #0006;
          display: flex;
          position: relative;
          tagname{
            width: calc(100% - 24px);
            text-align: start;
          }
          del{
            width: 16px;
            height: 16px;
            position: absolute;
            right: 8px;
            margin-top: 1px;
            background: #0006;
            border-radius: 2px;
            cursor: pointer;
            &:hover{background: #800;}
            &:active{background: #600;}
          }
        }
      }
    }
    div[table]{
      display: grid;
      &[grid="graphAll"]>div:not(.tagsBox)>p{text-align: start}
      &[grid]{
        grid-auto-rows: 100px; 
        grid-template-columns: repeat(7, 1fr);
      }
      &>div:not(.tagsBox){
        @include flexCC;
        flex-direction: column;
        &>p{width: 100%}
      }
      .linePoint{
        height: 50px;
        display: flex;
        &>div:nth-child(2){
          width: 25px;
          height: 50px;
          &>p{
            @include flexCC;
            width: 23px;
            height: 23px;
            cursor: pointer;
            position: relative;
            background: #0002;
            margin-left: 3px;
            box-shadow: inset 0 0 0 1px #0004;
            &[pm="1"]{margin-bottom: 4px;}
            &[pm="0"]:hover{background: #800}
          }
        }
      }
      .point{
        @include flexCC;
        width: 50px;
        height: 50px;
        transition: .1s;
        background-color: #0001;
        color: #0004;
        box-shadow: inset 0 0 0 1px #0004;
        cursor: default;
        &:after{
          @include flexCC;
          position: absolute;
          height: 48px;
          width: 48px;
          color: #0009
        }
        &[yesno="1"]:after{content: "Да"}
        &[yesno="0"]:after{content: "Нет"}
      }      
    }
  }
}


// #fbi h4{
//   position: relative;
//   height: 36px;
//   padding: 10px;
// }


// #fbi h4 a[date]:after{font-size: 16px;}
// #fbi h4 a[date]{
//   position: absolute;
//   left: 15px;
//   top: 10px;
// }




a[streamer]{width: 100%;}







li:hover .delete{display: flex}




#fbi li div[num]{height: 35px;}





.twitchInfo{
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  a[type]{
    height: 50px;
    width: 40px;
    margin-right: 10px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    font-size: 75%;
    cursor: pointer;
    padding-bottom: 3px;
    &[type="tag"]{order: 3}
    &[type="notes"]{order: 2}
    &[type="fbi"]{order: 1}
    &:hover:after{opacity: .25}
    &:after{
      @include flexCC;
      content: "";
      position: absolute;
      top: 0;
      @include bgC;
      width: 40px;
      height: 50px;
      opacity: .1;   
    }
    &[type="tag"]:after{
      background-image: url(https://image.flaticon.com/icons/png/512/1873/1873920.png);
      background-size: 32px;
    }
    &[type="notes"]:after{
      background-image: url(https://image.flaticon.com/icons/svg/2119/2119695.svg);
      background-size: 32px;
    }
    &[type="fbi"]:after{
      background-image: url(https://image.flaticon.com/icons/svg/1039/1039481.svg);
    }
  }
}





#fbi li h8>div{width: 100%; display: flex}
#fbi li h8>div:hover{background: #0003}
#fbi li h8 div:hover>a{padding: 10px 5px}
#fbi li h8 div[delete]:hover:after{opacity: .5}
#fbi li h8 div[delete]{
  height: inherit;
  width: 30px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
#fbi li h8 div[delete]:after{
  content: "";
  height: 100%;
  width: inherit;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-image: url('https://image.flaticon.com/icons/svg/32/32178.svg');
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat
}



#stats[fbi] li{flex-direction: row;}
#stats[fbi] h4{
  width: 200px;
  height: 100%;
}
#stats[fbi] h8{
  justify-content: start;
  padding: 10px;
}
#stats[fbi] h8:after{content: ""}
#stats[fbi] h4 a:after{content: ""}



// #stats li h8:after{
//   content: attr(meme)" ["attr(sum)"]";
//   position: absolute;
//   top: 53px;
//   transition: .25s;
//   right: 40px;
//   font-weight: bold;
//   color: #0006
// }

































[class^="ndis"], .ndis{display:none}
.exampleColor{height: 18px; opacity: 0; transition: .5s; margin-bottom: 2px}
div[table]:hover>div{opacity: 1}
.smile{margin-bottom: -5px; max-height: 24px;}
.close{background-image: url(https://cdn.glitch.com/6071b2e0-8e18-43d9-becd-4591bcf616db%2Fclose.png?v=1571684345965); opacity: .25}
.close:hover{opacity: .75}

